
body {
    font-family: Garamond, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.38em;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px; 
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px; 
}

h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px; 
}
h4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 17px; 
}
h5 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px; 
}
h6 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px; 
}

