
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 13px;
    line-height: 1.38em;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px; 
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px; 
}
